@media (max-width: 991px)
    .button
        width: 140px
        &_main
            width: 300px
@media (max-width: 576px)
    .button
        width: 95px
        height: 32px
        font-size: 8px
        &_main
            width: 185px
            height: 46px
            font-size: 12px
            margin-top: 60px
        